<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="jquery.qrcode.min.js"></script>
   </head>

    <body>
        <p class="main-title"><%= title %></p>
        <hr/>

        <p class="bitcoin-balance">Total Balance: </p>
        <p class="bitcoin-balance"><%= title3 %> BTC</p>
        <hr/>

        <p class="main-title">Bitcoin address: </p> 
        <p class="main-title"><%= title2 %></p>
        <div id="qrcode"></div>
        <script>
            jQuery('#qrcode').qrcode("<%= title2 %>");
        </script>
        <hr/>

        <p class="main-title">Send Bitcoin:</p> 
        <form action="/send" method="post" class="board-form">
            <span class="label">Send address:</span>
            <br>
            <input type="text" name="send_address" class="input" required><br>
            <br>
            <span class="label">Send amount:</span>
            <br>
            <input type="number" step="0.00001" name="send_amount" class="input" required><br>
            <br>
            <span class="label">Send fee:</span>
            <br>
            <select name="fee">
                <option value="1000">Nomal</option>
                <option value="5000">High</option>
                <option value="10000">Highest</option>
            </select>
            <br>
            <br>
            <button type="submit" class="send">send</button>
        </form>
        <br>
        <hr/>
        <span class="login-user">Hello <%= user.user_name %>.</span>
        <br>
        Do you want <a href="/logout">Log out?</a>
               
    </body>
</html>