<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="jquery.qrcode.min.js"></script>
   </head>

    <body>
        <p class="main-title"><%= title %></p>
        <hr/>

        <p class="bitcoin-balance">Total Balance: <%= title3 %> BTC</p>
        <hr/>

        <p class="main-title">Bitcoin address: </p> 
        <p class="main-title"><%= title2 %></p>
        <div id="qrcode"></div>

        <script>
            jQuery('#qrcode').qrcode("<%= title2 %>");
        </script>
        <hr/>
        
        <p class="main-title">Transaction:</p> 
        <% for (var item of title4){ %>
        <a href="https://www.blockchain.com/ja/btc/tx/<%= item %>" target="_blank"><%= item %></a>
        <% } %> 

        <br>
        <br>
        <br>
        <span class="login-user">Hello <%= user.user_name %>.</span>
        <br>
        Do you want <a href="/logout">Log out?</a>
               
    </body>
</html>